body {
	background-color:#965F1A;
	text-align: center-left;
	font-family:  ;
}
#list {
	background-color:#560700;
}

#corset {width: 225px;}
a{
	text-align: ; 
	color:#420D0B;
	position: absolute;
	bottom:0px;
}

p { font-family: cursive}